@mixin button {
    text-decoration: none;
    width: 180px;
    height: 53px;
    margin-left: 95px;
    padding: 14px 39px;
    font-family: $mono;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: $snow;
    background-color: $yellow;

}

@mixin list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  @mixin link-unstyled {
    display: inline-block;
    text-decoration: none;
  }

  