/* CONTAINER */
.container {
  max-width: 1146px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-big {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
