.intro {
  margin-top: 96px;
  background-image: url(../../Images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__wrapper {
  padding-top: 153px;
  padding-bottom: 152px;
}

.intro__heading {
  width: 500px;
  margin: 0;
  font-family: $mono;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: $white;
}

.intro__content {
  width: 405px;
  margin-top: 40px;
  margin-left: 95px;
  position: relative;
}

.intro__content::before {
  display: block;
  width: 203px;
  height: 16px;
  background-image: url(../../Images/line-header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 203px 16px;
  position: absolute;
  top: 42px;
  left: -260px;
  content: "";
}

.intro__content::after {
  display: block;
  width: 452px;
  height: 151px;
  background-image: url(../../Images/arrow-header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 452px 151px;
  position: absolute;
  top: 42px;
  right: -496px;
  content: "";
}

.intro__text {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: $white;
}

.intro__button {
  margin-top: 40px;
}

.intro__button:hover {
  background-color: transparent;
}

@media only screen and (max-width:1035px) {
  .intro {
    background-position: -425px 0;
  }

  .intro__content::after {
    width: 280px;
    background-position: top right;
    right: -332px;
  }
}

@media only screen and (max-width:868px) {
  .intro {
    background-position: -500px 0;
  }

  .intro__wrapper {
    padding-top: 137px;
    padding-bottom: 217px;
  }

  .intro__heading {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .intro__content {
    width: 80%;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .intro__content::before {
    display: none;
  }
  
  .intro__content::after {
    width: 452px;
    top: 191px;
    right: 357px;
  }
  
  .intro__button {
    margin-top: 32px;
  }
}

@media only screen and (max-width:700px) {
  .intro {
    background-position: -555px 0;
  }

  .intro__wrapper {
    padding-top: 115px;
    padding-bottom: 179px;
  }

  .intro__heading {
    font-size: 40px;
    line-height: 40px;
  }
  
  .intro__content::after {
    width: 452px;
    top: 191px;
    right: 357px;
  }
  
  .intro__button {
    margin-top: 32px;
  }
}

@media only screen and (max-width:750px) {
  .intro {
    margin-top: 72px;
  }
}

@media only screen and (max-width:550px) {
  .intro {
    background-position: -755px 0;
  }

  .intro__content::after {
    top: 209px;
    right: 251px;
  }
}

@media only screen and (max-width:450px) {
  .intro {
    background-position: -854px 0;
  }

  .intro__content::after {
    top: 209px;
    right: 236px;
  }

  .intro__heading {
    width: 90%;
  }
  
  .intro__content {
    width: 90%;
  }
}

@media only screen and (max-width:400px) {
  .intro {
    background-position: -1049px 0;
  }

  .intro__content::after {
    top: 224px;
    right: 201px;
  }
}